<h3>User Details:</h3>
<hr></hr>
<p><b>Name: </b> <%= @user.name %></p>
<p><b>Email Address: </b><%= @user.email %></p>
<br>
<h3>To do</h3>
<hr></hr>
<ul>
	<li>Pending implementation</li>
	<li>Pending implementation</li>
	<li>Pending implementation</li>
</ul>