 <%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
<div>
  <ul>
  <li><b><%= item.name %></tb></b><p><%= link_to " Done", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %></p></li><br>
  <ul>
</div>
<% end %>